To process and get overview of the dataset

In [14]:
#importing libraries for data prep
import pandas as pd
import numpy as np
import os
import psycopg2 as pg

In [6]:
df = pd.read_excel('..\data\HINDALCO_1D.xlsx')

In [7]:
df.head()

    datetime   close    high     low    open   volume instrument
0 2014-01-24  114.00  115.35  113.00  113.15  5737135   HINDALCO
1 2014-01-27  111.10  112.70  109.30  112.00  8724577   HINDALCO
2 2014-01-28  113.80  115.00  109.75  110.00  4513345   HINDALCO
3 2014-01-29  111.75  114.75  111.15  114.50  4713458   HINDALCO
4 2014-01-30  108.10  110.70  107.60  110.20  5077231   HINDALCO

In [9]:
df.isnull().sum()

datetime      0
close         0
high          0
low           0
open          0
volume        0
instrument    0
dtype: int64

In [10]:
df.dtypes

datetime      datetime64[ns]
close                float64
high                 float64
low                  float64
open                 float64
volume                 int64
instrument            object
dtype: object

The datatypes are in the right format

In [16]:
df.shape

(1215, 7)